.w3-theme-l5 {color:#000 ; background-color:#f8fcfe }
.w3-theme-l4 {color:#000 ; background-color:#e7f5fb }
.w3-theme-l3 {color:#000 ; background-color:#d0ecf7 }
.w3-theme-l2 {color:#000 ; background-color:#b8e2f3 }
.w3-theme-l1 {color:#000 ; background-color:#a1d9ef }
.w3-theme-d1 {color:#000 ; background-color:#69c2e6 }
.w3-theme-d2 {color:#fff ; background-color:#4ab6e0 }
.w3-theme-d3 {color:#fff ; background-color:#2aa9db }
.w3-theme-d4 {color:#fff ; background-color:#2092bf }
.w3-theme-d5 {color:#fff ; background-color:#1b7a9f }

.w3-theme-light {color:#000 ; background-color:#f8fcfe }
.w3-theme-dark {color:#fff ; background-color:#1b7a9f }
.w3-theme-action {color:#fff ; background-color:#1b7a9f }

.w3-theme {color:#000 ; background-color:#87ceeb }
.w3-text-theme {color:#87ceeb }
.w3-border-theme {border-color:#87ceeb }

.w3-hover-theme:hover {color:#000 ; background-color:#87ceeb }
.w3-hover-text-theme:hover {color:#87ceeb }
.w3-hover-border-theme:hover {border-color:#87ceeb }

.altheme: HEX: #d5f4e6
HEX: #80ced6
HEX: #fefbd8
HEX: #618685

.otheme:#c0dfd9
#e9ece5
#b3c2bf
#3b3a36

/*  set up page  */
html, body {    
    height: 100%;    
    margin: 0;  
}    
body {          
    align-items: center;        
    display: flex; 
    flex-direction: column; 
}
ul{
	display:flex;
	flex-direction: row;
	list-style-type: none;
	color: #fefbd8;
	width:100%;
}
nav{
	width:100%;
	text-align: center;
}
#nav li {
  display: inline-block;
  padding:1%;
}

h1{
	line-height: 100%;
	height: 100%;
}
/*  smaller sections of content */
.supplement{
	display:flex;
	flex-direction: column;
	width:50%;
	height: 50%;
	margin:0 auto;
	padding:1%;
	position:relative;
}
.supplement img {
	height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
}

.menu-open {
  transform: translate(-230px, 0);
}

/* navigation  */
#headBar{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #c0dfd9;

}
/*  photo banner */
#landing{
	margin:5% auto; 
	width: 90%;
	padding:3%;
	background-image: url(pics/meeting.jpeg)

}
#landing img{
	margin-left: 4%;
	margin-right: 5%;
}

/* 1st set of half page sections  */
#content{
	display:flex;
	flex-direction: row;
	width:90%;
	padding-left: 10%;
	padding-right: 10%;
}
/* 2nd set of half page sections  */
/* temporary theft */
.collapsible {
    background-color: #FFF;
    color: black;
    cursor: pointer;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.support{
	display:flex;
	flex-direction: row;
	width:90%;
	padding-left: 10%;
	padding-right: 10%;
	cursor: pointer;
	border: none;
    outline: none;
    transition: 0.4s;
}
.active, .support:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
/*  three part  */
#connect{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	height:100%;
	margin-top:5%;
}
#reach1{
	color:#80ced6;
	display:flex;
	flex-direction: column;
	height: 80%;
	width:33%;
	background-image: url(pics/gpsmall.jpeg);
	background-size: cover;
	background-position: center;
	

}
#reach2{
	color:#80ced6;
	display:flex;
	flex-direction: column;
	height: 80%;
	width:33%;
	background-image: url(pics/cloudsmall.jpeg);
	background-size: cover;
	background-position: center;
}
#reach3{
	color:#80ced6;
	display:flex;
	flex-direction: column;
	height: 80%;
	width:33%;
	background-image: url(pics/global.jpeg);
	background-size: cover;
	background-position: center;
}
#reach1 p{

	font-size: larger;
    display: flex;
    height: 300px;
    align-self: center;
    flex-direction: column;
}
#reach2 p{
	font-size: larger;
    display: flex;
    height: 300px;
    align-self: center;
    flex-direction: column;
}
#reach3 p{
	font-size: larger;
    display: flex;
    height: 300px;
    align-self: center;
    flex-direction: column;
}
/* footer...  */
#foot{

}

/*   special menu edits  */
#nav li a {
  display: block;
  color: #fefbd8;
  font-size: 1rem;
  border: 2px solid transparent;
  margin:10% 10%;
  text-decoration: none;
  transition: all 0.3s;
}

 #nav li a:hover {
  border: 2px solid #fefbd8;
}

/* Burger */
 .toggle {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 15px 10px;
}
.toggle .bar1,
.toggle .bar2,
.toggle .bar3 {
  width: 25px;
  height: 2px;
  background: #FFF;
  margin-bottom: 8px;
  transition: all 0.6s;
}
/* Change it to an X */
#nav.open .toggle .bar1 {
  transform: rotate(45deg) translate(8px, 7px);
}
 #nav.open .toggle .bar2 {
  opacity: 0;
}
 #nav.open .toggle .bar3 {
  transform: rotate(-45deg) translate(7px, -6px);
}
